# Node and build artifacts
node_modules/
dist/
apps/**/dist/**
apps/**/release/**
apps/**/release-*/**
apps/**/win-unpacked/**
*.log
*.tsbuildinfo
.DS_Store
Thumbs.db
.vscode/
*.local
*.env*
apps/**/dist-electron/**
apps/**/out/**
packages/**/dist/**
apps/extension-chromium/build01/
apps/extension-chromium/build02/
apps/extension-chromium/build05/
apps/extension-chromium/build001/
apps/extension-chromium/build002/
apps/extension-chromium/build003/
apps/extension-chromium/build004/
apps/extension-chromium/build55/
apps/extension-chromium/build50/
apps/extension-chromium/build005/
apps/extension-chromium/build45/
apps/extension-chromium/build305/
apps/extension-chromium/build705/
apps/extension-chromium/build5/
apps/extension-chromium/build990/
apps/extension-chromium/build11096/
apps/extension-chromium/build0045/
apps/extension-chromium/build0065/

